
main {
    position: relative;
    margin-top: 0;
}
main > .filter-panel {
    display: grid;
    grid-template-columns: 30px 1fr 30px 30px;
    grid-template-rows: 30px;
    grid-gap: 6px;
    padding: 0 4px;

    margin: -20px -20px 30px -20px;
    padding: 10px 20px 10px 20px;
    background-color: var(--color-canvas);

    position: sticky;
    top: -20px;
    z-index: 50; 

    box-shadow: 0 10px 10px var(--color-canvas);
}

main > .filter-panel > button {
    background-color: var(--color-widget);
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-widget);
        filter: invert();
        opacity: 0;
        transition: 200ms;
    }

    &:hover:after {
        opacity: .05;
    }
}

main > .filter-panel > button > svg {
    width: 60%;
    height: 60%;
}

main > .filter-panel > input {
    width: 100%;
    background-color: var(--color-widget);
    color: var(--color-accent);
    font-weight: 700;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;

    &::selection {
        background-color: var(--color-accent);
        color: var(--color-canvas);
    }
}


main > .filter-panel > .presets {
    grid-column: 2 / -1;
}

main > .filter-panel > .presets > button {
    background-color: var(--color-widget);
    color: var(--color-content);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 1px;
    font-size: 10px;
    font-weight: 600;
}

main > .filter-panel > .presets > button.active {
    background-color: var(--color-accent);
    color: var(--color-canvas);
}
