
menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

menu > .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

menu > .logo > .text {
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(
        145deg,
        var(--color-content),
        var(--color-content-30)
    ); /* Цвет фона текста */
    background: linear-gradient(150deg, #708090, #556B2F, #2E8B57);
    background: linear-gradient(120deg, #556B2F, #A9A9A9);
    color: transparent; /* Делаем текст прозрачным */
    background-clip: text; /* Применяем цвет фона к тексту для остальных браузеров */
}

menu > .logo > svg {
    --color-accent: var(--color-content-80);
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

menu > .group-links {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    overflow-x: hidden;
    overflow-y: auto;
}

menu > .group-links > button {
    background-color: transparent;
    position: relative;
    color: var(--color-content);

    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-widget);
        filter: invert(100%);
        opacity: 0;
        transition: opacity 200ms;
    }

    &:hover:after {
        opacity: .05;
    }
}

menu > .group-links > button > .title {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--color-widget) 100%);;
    }
}

menu > .group-links > button > .count {
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    opacity: .6;
}

menu > .group-links::-webkit-scrollbar {
	width: 2px;
}

menu > .group-links::-webkit-scrollbar-track {
	background-color: transparent;
    border-radius: 1px;
}

menu > .group-links::-webkit-scrollbar-thumb {
	background-color: var(--color-content-30);
    border-radius: 1px;
}

menu > .group-links::-webkit-scrollbar-corner {
    background-color: transparent;
}


/* MENU BOTTOM */

menu > .menu-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 20px;
}

menu > .menu-bottom > button {
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-widget);
        filter: invert(100%);
        opacity: 0;
        transition: 200ms;
    }

    &:hover::after {
        opacity: .05;
    }
}

menu > .menu-bottom > button > svg {
    width: 15px;
    height: 15px;
}

#point-for-current {
    color: var(--color-accent);
    font-weight: 700;
}

