
body {
    position: relative;
}

#curtain {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--color-curtain);
    backdrop-filter: blur(5px);
    
    transition: opacity 300ms;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    display: none;

    cursor: pointer;
}

#popup-import,
#popup-donate,
#popup-export {
    width: 70%;
    height: 70%;
    background-color: var(--color-widget);
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    position: absolute;
    transform: scale(1);
    transition: transform 300ms;
    transform-origin: left bottom;

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px;
    grid-row-gap: 10px;

}

#popup-import.disabled,
#popup-donate.disabled,
#popup-export.disabled {
    transform: scale(0) translate(-500px, 500px);
}

#curtain > div > .title {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-content);
}

#curtain > div > .import-from {
    justify-self: end;
}

#curtain > div > .import-from > img {
    height: 30px;
    margin: 0 10px 10px 10px;

    &:last-child {
        margin-right: 0;
    }
}

#curtain > div > textarea {
    grid-column: 1 / -1;

    font-size: 14px;
    color: var(--color-content);
    background-color: var(--color-canvas);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2) inset;

    padding: 10px;
    border-radius: 5px;

    resize: none;

    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

#curtain > div > textarea::-webkit-scrollbar {
	width: 5px;
    height: 5px;
}

#curtain > div > textarea::-webkit-scrollbar-track {
	background-color: transparent;
    border-radius: 1px;
}

#curtain > div > textarea::-webkit-scrollbar-thumb {
	background-color: var(--color-content-30);
    border-radius: 1px;
}

#curtain > div > textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}

#curtain > div > .btns {
    display: flex;
    justify-content: center;
}

#curtain > div > .btns > button {
    margin: 0 5px;
}

#curtain > div button {
    grid-column: 1 / -1;
    justify-self: end;
    background-color: var(--color-accent);
    color: var(--color-canvas);
    border-radius: 5px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-accent);
        filter: invert();
        opacity: 0;
        transition: 200ms;
    }

    &:hover:after {
        opacity: .1;
    }
}
