

.tab {
    --sb: 24px;
    --mr: 3px;

    display: grid;
    grid-template-columns: var(--sb) var(--sb) 1fr var(--sb) var(--sb);
    grid-template-rows: var(--sb);

    justify-content: stretch;
    align-content: stretch;

    grid-gap: var(--mr);
    margin: var(--mr) 10px;
}

.tab > .sw > button > svg,
.tab > button > svg {
    width: 60%;
    height: 60%;
}

.tab > .sw > button.btn-select > svg {
    width: 80%;
    height: 80%;
}

.tab > button > img {
    width: 80%;
    height: 80%;
}

.tab > .sw > button {
    width: 100%;
    height: 100%;

    &:first-child { /* .btn-delete */
        display: flex;
    }

    &:last-child { /* .btn-select */
        display: none;
    }
}

/* При включении режима выделения группе добавляется .is-select-mode */
.g.is-select-mode > .tab > .sw > button {
    width: 100%;
    height: 100%;

    &:first-child { /* .btn-delete */
        display: none;
    }

    &:last-child { /* .btn-select */
        display: flex;
    }
}

/* выбранной вкладке добавляется .select */
.tab > .sw > button.btn-select {
    position: relative;
}

.tab > .sw > button.btn-select > svg  {
    position: absolute;
}

.g.is-select-mode > .tab > .sw > button.btn-select > svg:first-child {
    scale: 0;
    transition: scale 200ms;
}

.g.is-select-mode > .tab.selected > .sw > button.btn-select > svg:first-child {
    scale: 1.3;
}

.tab > .description {
    grid-column: 2 / -1;
    color: var(--color-content);
    font-size: 10px;
    line-height: 14px;
    opacity: .8;

    &::selection {
        background-color: var(--color-accent);
        color: var(--color-widget);
    }
}

.tab > .description button.open-tag {
    background-color: var(--color-canvas);
    color: var(--color-accent);

    &::selection {
        background-color: var(--color-accent);
        color: var(--color-widget);
    }
}

.tab > .description.hide {
    display: none;
}

.tab > .edit-description {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 1fr 60px 60px;

    background-color: var(--color-widget);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.tab > .edit-description > textarea {
    grid-column: 1 / -1;
    background-color: transparent;
    color: var(--color-content);
    padding: 15px;
    resize: none;

    &::selection {
        background-color: var(--color-accent);
        color: var(--color-widget);
    }
}

.tab > .edit-description > button {
    color: var(--color-content-80);
    background-color: var(--color-widget);
    grid-column: 2 / 3;
    position: relative;
    padding: 5px 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-widget);
        filter: invert();
        opacity: 0;
        transition: 200ms;
    }

    &:hover::after {
        opacity: .05;
    }

    &:last-child {
        grid-column: 3 / 4;
    }
}

.tab > .edit-description > textarea::-webkit-scrollbar {
	width: 2px;
}

.tab > .edit-description > textarea::-webkit-scrollbar-track {
	background-color: transparent;
    border-radius: 1px;
}

.tab > .edit-description > textarea::-webkit-scrollbar-thumb {
	background-color: var(--color-content-30);
    border-radius: 1px;
}

.tab > .edit-description > textarea::-webkit-scrollbar-corner {
    background-color: transparent;
}


.tab > .sw > button,
.tab > button {
    background-color: transparent;
    color: var(--color-content);

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.tab > button.btn-title {
    padding-left: 5px;
    font-size: 14px;
    justify-content: flex-start;

    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--color-canvas) 100%);;
    }
}

.tab > .sw > button.btn-delete,
.tab > .btn-descr,
.tab > .btn-dup {
    opacity: 0;
    transition: opacity 200ms;
}

.tab:hover > .sw > button.btn-delete,
.tab:hover > .btn-descr,
.tab:hover > .btn-dup {
    opacity: 1;
}

.tab > .sw > button.btn-delete {
    --color-red: var(--color-content)
}