
body {
    --color-canvas: #171717;
    --color-curtain: rgba(23, 23, 23, .5);
    --color-widget: #262626;
    --color-accent: #3692c4;
    --color-content: #B5B5B5;
    --color-content-80: rgba(181, 181, 181, .8);
    --color-content-30: rgba(181, 181, 181, .3);
    --color-red: #f33330;
}