
body {
    overflow: hidden;
}

#root {
    --width-menu: 270px;
    height: 100%;
    display: grid;
    grid-template-columns: var(--width-menu) 1fr;

    position: relative;
}

#root > menu {
    background-color: var(--color-widget);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 2;
}

#root > main {
    background-color: var(--color-canvas);
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #f39f30;
    font-size: 12px;
}